bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules/
editors/vscode/dist/
editors/vscode/server/
*.vsix
.graphics-build/
native/build/
AquariusDesktopInterpretedREPL/runtimes/
/dist
